@model PruebaCore.Entidades.Medio;
@{
    ViewData["Title"] = "Medios";
    var me = ViewData["Medio"] as PruebaCore.Entidades.Medio;
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<p>Use this area to provide additional information.</p>

<hr />

<p><b>Consulta de medio</b></p>
<p>
    <form asp-action="Medios" class="form-horizontal">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group">
            <label class="control-label">Name</label>
            <input asp-for="IdMedio" class="form-control" />
            <span asp-validation-for="IdMedio" class="text-danger"></span>
        </div>
        <div class="form-group">
            <input type="submit" value="Consultar" class="btn bg-primary" />
        </div>
    </form>
</p>
<br />

<address>
    @me.IdMedio <br>
    @me.DescrMedio<br>
</address>
@{
    if (@TempData["Msg"] != null)
    {
        <script>
            alert('@TempData["msg"]')
        </script>
    }
}  