@using Microsoft.AspNetCore.Http;
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - CedFCIC</title>

    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />

    @*<link rel="stylesheet" href="~/css/menu.css" />*@
    <link rel="stylesheet" href="~/lib/font-awesome-4.7.0/css/font-awesome.min.css">
    <!-- Inicio DateTime Picker  -->
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css"> 
    <!-- Fin DateTime Picker  -->
</head>
<body style="background-color: white">
    <!-- Para los graficos -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.bundle.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <!-- Plugin para poner los porcentajes. Pagina con ejemplos: https://emn178.github.io/chartjs-plugin-labels/samples/demo/ -->
    <script src="https://cdn.jsdelivr.net/gh/emn178/chartjs-plugin-labels/src/chartjs-plugin-labels.js"></script>
    <!-- Poper.js es para bootstrap, lo utilizan para los dropdown menu. -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>

    @{
        var sesion = Context.Session.GetObj<CedFCIC.Entidades.Sesion>("Sesion");
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark sticky-top">
            <a href="~/index.html" class="navbar-brand">Cedeira</a>
            <button class="navbar-toggler" data-toggle="collapse" data-target="#layoutNavbarSupportedContent"
                    aria-controls="layoutNavbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="layoutNavbarSupportedContent">
                <ul class="navbar-nav">
                    <li class="nav-item"><a class="nav-link" asp-area="" asp-controller="Home" asp-action="Index">Inicio</a></li>
                    <li class="nav-item"><a class="nav-link" asp-area="" asp-controller="Home" asp-action="Ayuda">Ayuda</a></li>
                    @*<li class="dropdown dropdown-submenu">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Usuario <i class="fa fa-caret-down"></i></a>
                            <ul class="dropdown-menu" style="width:200px;">
                                <li> <a asp-area="" asp-controller="Home" asp-action="MediosGraficos">Medios Graficos</a></li>
                                <li class="divider"></li>
                                <li><a asp-area="" asp-controller="Usuario" asp-action="Ingresar">Ingresar</a></li>
                                <li><a asp-area="" asp-controller="Usuario" asp-action="Crear">Crear</a></li>
                                <li><a runat="server" id="ArticulosListaPreciosReemplazo" visible="false" style="color:lightgray" href="#">Reemplazo</a></li>
                                <li><a runat="server" id="ArticulosListaPreciosConsulta" visible="false" style="color:lightgray" href="#">Consulta</a></li>
                            </ul>
                        </li>*@
                    <li class="nav-item pull-right">
                        @if (sesion != null && sesion.Usuario.Id != null && sesion.Usuario.Id.Trim() != "")
                        {
                            @Html.ActionLink("Salir", "Salir", "Usuario", null, new { @class = "btn btn-success" })
                        }
                        else
                        {
                            @Html.ActionLink("Ingresar", "Ingresar", "Usuario", null, new { @class = "btn btn-secondary" })
                        }
                    </li>
                </ul>
            </div>
        </nav>

        //var usr = Context.Session.GetString("UsuarioId");
        if (sesion != null && sesion.Usuario.Id != null && sesion.Usuario.Id.Trim() != "")
        {
            <nav class="navbar navbar-expand-lg navbar-dark bg-info sticky-top">
                <a href="~/index.html" class="navbar-brand"></a>
                <button class="navbar-toggler" data-toggle="collapse" data-target="#layoutNavbarSupportedContent"
                        aria-controls="layoutNavbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="layoutNavbarSupportedContent">
                    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Comprobante
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                <li><a asp-area="" asp-controller="Comprobante" asp-action="Index" class="dropdown-item" id="ComprobanteConsulta">Consulta</a></li>
                            </ul>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Artículos
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                <li><a asp-area="" asp-controller="Articulo" asp-action="Crear" class="dropdown-item" id="ArticuloAlta">Alta</a></li>
                                <li><a asp-area="" asp-controller="Articulo" asp-action="Index" class="dropdown-item" id="ArticulosBajaYAnulBaja" visible="false">Baja/Anul.baja</a></li>
                                <li><a asp-area="" asp-controller="Articulo" asp-action="Index" class="dropdown-item" id="ArticuloModif">Modificación</a></li>
                                <li><a asp-area="" asp-controller="Articulo" asp-action="Index" class="dropdown-item" id="ArticuloConsulta">Consulta</a></li>
                                <li class="dropdown-submenu">
                                    <a href="#" class="dropdown-item dropdown-toggle">
                                        Listas de Precios
                                    </a>
                                    <ul class="dropdown-menu" style="width:200px;">
                                        <li><a asp-area="" asp-controller="ListaPrecio" asp-action="Crear" class="dropdown-item" id="ArticulosListaPreciosAlta">Alta</a></li>
                                        <li><a href="#" class="dropdown-item disabled" id="ArticulosListaPreciosBajaYAnulBaja">Baja/Anul.baja</a></li>
                                        <li><a href="#" class="dropdown-item disabled" id="ArticulosListaPreciosModif" visible="false">Modificación</a></li>
                                        <li><a href="#" class="dropdown-item disabled" id="ArticulosListaPreciosClonado" visible="false">Clonado</a></li>
                                        <li><a href="#" class="dropdown-item disabled" id="ArticulosListaPreciosReemplazo" visible="false">Reemplazo</a></li>
                                        <li><a asp-area="" asp-controller="ListaPrecio" asp-action="Index" class="dropdown-item" id="ListaPrecioConsulta">Consulta</a></li>
                                    </ul>
                                </li>
                                <li class="dropdown-submenu">
                                    <a href="#" class="dropdown-item dropdown-toggle" data-toggle="dropdown">Precios</a>
                                    <ul class="dropdown-menu">
                                        <li><a href="#" class="dropdown-item disabled" id="ArticulosPreciosIngresoManual">Ingreso Manual</a></li>
                                        <li><a asp-area="" asp-controller="ListaPrecio" asp-action="Importar" class="dropdown-item" id="ArticulosPreciosImportExcel">Importar de Excel</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                        <li class="nav-item dropdown">
                            <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">Pruebas</a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink" style="width:200px;">
                                <li><a asp-area="" asp-controller="Home" asp-action="MediosGraficos" class="dropdown-item">Medios Graficos</a></li>
                                <li class="divider"></li>
                                <li><a asp-area="" asp-controller="Home" asp-action="Medios" class="dropdown-item">Medios</a></li>
                                <li><a asp-area="" asp-controller="Home" asp-action="PruebaSinLayout" class="dropdown-item">Pruebas Generales</a></li>
                            </ul>
                        </li>
                        <li class="nav-item dropdown">
                            <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">Admin.Site</a>
                            <ul class="dropdown-menu" style="width:200px;">
                                <li><a asp-area="" asp-controller="Home" asp-action="MediosGraficos" class="dropdown-item">Medios Graficos</a></li>
                            </ul>
                        </li>
                    </ul>
                    <div class="navbar-form navbar-right" style="">
                        <div class="form-inline">
                            <div class="form-group" style="">
                                <div class="input-group">
                                    <label class="form-check-label"><font color="white">Usuario:&nbsp;</font></label>
                                    @Html.ActionLink(sesion.Usuario.Nombre, "Permisos", "Usuario", null, new { @class = "linkUsr", @style = "" })
                                    <label class="form-check-label"><font color="white">&nbsp;&nbsp;Cuit:&nbsp;</font></label>
                                    @*Html.ActionLink(sesion.Usuario.Nombre, "Index", "Factura")*@
                                    @{
                                        if (sesion.CuitsDelUsuario.Count > 0)
                                        {
                                            var items = from CedFCIC.Entidades.Cuit c in sesion.CuitsDelUsuario
                                                        select new SelectListItem { Value = c.Nro, Text = c.NroYRazSocCorta };
                                            ViewBag.SelectListCU = new SelectList(sesion.CuitsDelUsuario, "Nro", "NroYRazSocCorta", sesion.Cuit.Nro);

                                            Html.BeginForm("CambiarCUIT", "Usuario");
                                            @Html.DropDownList("CuitsDelUsrNro", ViewBag.SelectListCU as SelectList, new { onChange = "this.form.submit()", @class = "form-control", @style = "height:25px; padding:0px; font-size: 12px;" });
                                            Html.EndForm();

                                            @*Html.DropDownList("CuitsDelUsrNro", ViewBag.SelectListCU as SelectList, new { onChange = "this.form.submit()", Param2 = Model.xxxxx });*@
                                        }
                                    }
                                    @*@Html.ActionLink(sesion.Usuario.Id + '-' + sesion.Usuario.Nombre, "Index", "Factura");*@
                                    <label class="form-check-label"><font color="white">&nbsp;&nbsp;UN:&nbsp;</font></label>
                                    @{
                                        if (sesion.CuitsDelUsuario.Count > 0)
                                        {
                                            var items = from CedFCIC.Entidades.UN c in sesion.Cuit.UNs
                                                        select new SelectListItem { Value = c.Id.ToString(), Text = c.Descr };
                                            ViewBag.SelectListUN = new SelectList(sesion.Cuit.UNs, "Id", "Descr", sesion.UN.Id.ToString());

                                            Html.BeginForm("CambiarUN", "Usuario", FormMethod.Post);
                                            @Html.DropDownList("UNsDelCuitId", ViewBag.SelectListUN as SelectList, new { onchange = "this.form.submit()", @class = "form-control", @style = "height:25px; padding:0px; font-size: 12px;" });
                                            Html.EndForm();

                                            @*Html.DropDownList("UNsDelCuit", ViewBag.SelectListUN as SelectList, new { onchange = "cambiarUN(this);" });*@
                                            @*Html.DropDownList("UNsDelCuit", ViewBag.SelectListUN as SelectList, new { onchange = "document.location.href = '/Usuario/CambiarUN?idUN=' + this.options[this.selectedIndex].value;" });*@
                                            @*Html.DropDownList("UNsDelCuit", ViewBag.SelectListUN as SelectList, new { onchange = "document.location.href = '/Usuario/CambiarUN/' + this.options[this.selectedIndex].value;" });*@
                                        }
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                    @*<form class="navbar-form navbar-right" role="search">
                            <div class="form-group">
                                <div class="input-group">
                                    <input type="text" class="form-control" placeholder="texto a buscar">
                                    <span class="input-group-btn">
                                        <button type="submit" class="btn btn-outline-primary">Buscar</button>
                                    </span>
                                </div>
                            </div>
                        </form>*@
                </div>
            </nav>
        }
    }
    <partial name="_CookieConsentPartial" />

    <div class="container body-content">
        <br />
        @RenderBody()
        <div class="modal fade" id="aModal" tabindex="-1" role="dialog" aria-labelledby="aModalLabel"
             aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title" id="aModalLabel">Error</h4>
                    </div>
                    <div class="modal-body">
                        <label id="ExMessage"></label>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-outline-primary" data-dismiss="modal">Cerrar</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade" id="amModal" tabindex="-1" role="dialog" aria-labelledby="amModalLabel"
             aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title" id="amModalLabel">Mensaje</h4>
                    </div>
                    <div class="modal-body">
                        <label id="TxtMessage"></label>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-outline-primary" data-dismiss="modal">Cerrar</button>
                    </div>
                </div>
            </div>
        </div>
        @await Component.InvokeAsync("Pie")
    </div>
    <br />
    <br />
    <footer class="footer">
        &copy; 2020 - CedFCIC
    </footer>

    @*<environment include="Development">*@
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
        <script src="~/js/menu.js"></script>
        @*<script src="https://code.jquery.com/jquery-1.12.4.js"></script>*@
        <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    @*</environment>*@
    @*<environment exclude="Development">
        <script src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery"
                crossorigin="anonymous"
                integrity="sha384-tsQFqpEReu7ZLhBV2VZlAu7zcOV+rXbYlF2cqB8txI/8aZajjp4Bqd+V6D5IgvKT">
        </script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.min.js"
                asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
                crossorigin="anonymous"
                integrity="sha384-aJ21OjlMXNL5UyIl/XNwTMqvzeRMZH2w8c5cRVpzpU8Y5bApTppSuUkhZXN0VxHd">
        </script>
        <script src="~/js/site.min.js" asp-append-version="true"></script>
    </environment>*@
    @RenderSection("Scripts", required: false)
    
</body>
</html>
