@model CedFCIC.Models.SesionModel;

@{
    ViewData["Title"] = "Modificación datos de Configuración";
}

<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>
<form asp-action="Configurar" asp-controller="Usuario" method="post">
    <div class="container">
        <div class="row">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <label class="form-group" Text="Imágen del usuario"></label>
                        @{
                            var imagenes = (string[])TempData.Peek("UsuarioImagenes");
                            var randomForRefreshImg = DateTime.Now.ToString("yyyyMMddhhmmsss");
                            if (imagenes != null && imagenes.Length > 0)
                            {
                                foreach (var item in imagenes)
                                {
                                    <img src="~/ImagenesSubidas/@item?xxx=@randomForRefreshImg" style="max-width: 100px; border-style:Solid; border-width:1px; border-color:#cccccc">
                                    break;
                                }
                            }
                            else
                            {
                                <img src="~/ImagenesSubidas/Interrogacion.jpg" style="max-width: 100px; border-style:Solid; border-width:1px; border-color:#cccccc">
                            }
                        }
                        <label class="control-label">Id. @Model.Sesion.Usuario.Id</label><br />
                        <label class="control-label">Id. @Model.Sesion.Usuario.Nombre</label><br />
                        <label class="control-label">Id. @Model.Sesion.Usuario.Email</label><br />
                    </div>
                </div>
                <div class="row spacerRows"></div>
                <div class="row">
                    <div class="col-lg-12 col-md-12">
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="basic-addon1" style="background-color: white">CUIT / UN predefinidos</span>
                            </div>
                            <input class="form-control" value="@Model.Sesion.Cuit.Nro / @Model.Sesion.UN.Id-@Model.Sesion.UN.Descr" readonly="readonly" />
                            <div class="input-group-append">
                                @Html.ActionLink("Establecer CUIT / UN actuales como predefinidos", "DefinirCuitUNdefault", "Usuario", new { cuit = Model.Sesion.Cuit.Nro, idUN = Model.Sesion.UN.Id.ToString() }, new { @class = "btn btn-outline-primary" })
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row spacerRows"></div>
                <div class="row">
                    <div class="col-lg-12 col-md-12">
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="basic-addon1" style="background-color: white">Cantidad de filas por página</span>
                            </div>
                            <input class="form-control" value="@Model.Sesion.Usuario.CantidadFilasXPagina.ToString()" asp-for="Sesion.Usuario.CantidadFilasXPagina" />
                            <div class="input-group-append">
                                @Html.ActionLink("Establecer cantidad de filas por página por defecto", "DefinirCantFilasXPagdefault", "Usuario", new { cantFilasXPag = Model.Sesion.Usuario.CantidadFilasXPagina }, new { @class = "btn btn-outline-primary" })
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row spacerRows"></div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="form-group col-lg-12 col-md-12">
                        <input type="submit" value="Aceptar" class="btn btn-outline-primary " />
                        <a asp-action="Ingresar" asp-controller="Usuario" class="btn btn-outline-primary">Volver</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>

<form enctype="multipart/form-data" asp-action="ConfigurarUpload" asp-controller="Usuario" method="post">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12">
                <label class="form-group">(usar archivos: jpg, jpeg, png o gif...)</label>
            </div>
            <div class="col-lg-12 col-md-12">
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="basic-addon1" style="background-color: white">Foto del usuario</span>
                    </div>
                    <div class="custom-file">
                        <label class="custom-file-label" for="inputGroupFile01"></label>
                        <input class="form-control custom-file-input" id="inputGroupFile01" onmouseover="this.style.cursor='pointer'" onmouseout="this.style.cursor='default'" type="file" name="file" asp-for="Foto" />
                    </div>
                    <div class="input-group-append">
                        <input type="submit" value="Upload" class="btn btn-outline-primary">
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>

@*<asp:Button ID="BorrarImagenButton" runat="server" TabIndex="3" Text="Borrar" Width="92px" onclick="BorrarImagenButton_Click" />*@

<div class="col-lg-12 col-md-12">
    @*<asp:Label ID="Label5" runat="server" Text="Cantidad de renglones<br/>(en grillas con paginación)"></asp:Label>
        <asp:TextBox ID="CantidadFilasXPaginaTextBox" runat="server" Width="86px" Enabled="true"></asp:TextBox>
        <asp:Button ID="ConfirmarCantidadFilasXPaginaButton" runat="server" TabIndex="3" Text="Confirmar" onclick="ConfirmarCantidadFilasXPaginaButton_Click" />*@
</div>
<div class="col-lg-12 col-md-12">
    @*<asp:Label ID="Label6" runat="server" Text="Mostrar Ayuda"></asp:Label>
        <asp:CheckBox ID="MostrarAyudaComoPaginaDefaultCheckBox" runat="server" Text="&nbsp;" AutoPostBack="true" OnCheckedChanged="MostrarAyudaComoPaginaDefaultCheckBox_CheckedChanged" />
        (como página predeterminada)*@
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <script>
        $(document).ready(function () {
            $("div.overout")
                .mouseover(function () {
                    $("#Password").attr("type", "text");
                })
                .mouseout(function () {
                    $("#Password").attr("type", "password");
                });
        });
    </script>
    <script>
        $(document).ready(function () {
            $("div.overout")
                .mouseover(function () {
                    $("#ConfirmacionPassword").attr("type", "text");
                })
                .mouseout(function () {
                    $("#ConfirmacionPassword").attr("type", "password");
                });
        });
    </script>
    <script type="application/javascript">
        $('input[type="file"]').change(function(e){
            var fileName = e.target.files[0].name;
            $('.custom-file-label').html(fileName);
        });
    </script>
}
